---
import {getCollection} from 'astro:content';
import {formatSlug} from '../../utils/slug';
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
    const entries = [
        ...await getCollection('activity'),
        ...await getCollection('environment-type'),
        ...await getCollection('impact'),
    ];
    return entries.map(entry => ({
        params: {slug: formatSlug(entry.id)}, props: {entry},
    }));
}
const {entry} = Astro.props;
const {Content} = await entry.render();
---
<MainLayout entry={entry} title={`${entry.data.title} | ${entry.collection}`}>
    <h1 data-pagefind-meta="title">{entry.data.title}</h1>
    <Content/>
</MainLayout>
