---
import {getCollection} from "astro:content";
import {titleToSlug} from "../lib/slug";
import MainLayout from "../layouts/MainLayout.astro";

interface Props {
    termType: string
    title: string
    entry: any
}

async function addCollectionPaths(ctx: { paths: any[], terms: {} }, termType: string, entries: any) {
    entries.forEach(entry => {
        const term = titleToSlug(entry.data.title);
        if (ctx.terms[term]) {
            throw new Error(`Duplicate term: ${term}`);
        }
        ctx.terms[term] = entry;
        ctx.paths.push({params: {term}, props: {termType, entry}});
    });
}

export async function getStaticPaths(collection: string, paramName: string) {
    const ctx = {paths: [], terms: {}};
    await addCollectionPaths(ctx, 'Environment Type', await getCollection('environment-type'));
    await addCollectionPaths(ctx, 'Activity', await getCollection('activity'));
    await addCollectionPaths(ctx, 'Impact', await getCollection('impact'));
    return ctx.paths
}

const {termType, entry} = Astro.props;
const {Content} = await entry.render();
---
<MainLayout title={`${entry.data.title} | ${termType}`}>
    <h1 data-pagefind-meta="title">{entry.data.title}</h1>
    <Content/>
</MainLayout>
