---
import {Image} from "astro:assets";
import {getCollection} from 'astro:content';
const {collection} = Astro.props;
const entries = await getCollection(collection);
---
<table class="w-96">
    <thead>
    <tr class="flex flex-row gap-8 items-center">
        <th>Image</th>
        <th>Title</th>
    </tr>
    </thead>
    {entries.map((entry: any) => (
            <tr class="flex flex-row gap-8 items-center">
                <td>
                    <a href={`/${collection}/${entry.slug}`}>
                        <Image src={entry.data.image} alt={entry.data.title} width="60" height="60"/>
                    </a>
                </td>
                <td><a href={`/${collection}/${entry.slug}`}>{entry.data.title}</a></td>
            </tr>
    ))}
</table>
