---
import CollectionList from "./Sidebar.collection_list.astro";
import NestedList from "./Sidebar.nested_list.astro"
import List from "./Sidebar.list.astro";
import { getCollection } from "astro:content";
import { schemaCategories } from "../../data/schemaCategories";
const impacts = await getCollection("impact");
const ecosystems = await getCollection("environment-type");
const activities = await getCollection("activity");
---

<div
    id="menu"
    class="w-60 border-grey-200 p-4 overflow-y-auto
     hidden absolute lg:static lg:w-64 lg:flex lg:border-r-2"
>
    <nav>
        <ul class="flex flex-col gap-4">
            <!-- Taxonomy Section -->
            <List path="/taxonomy" heading="Terminology">
                <CollectionList
                    collection={impacts}
                    path="/taxonomy"
                    heading="Impacts"
                    headingPath="/taxonomy/impact"
                />
                <CollectionList
                    collection={activities}
                    path="/taxonomy"
                    heading="Activities"
                    headingPath="/taxonomy/activity"
                />
                <CollectionList
                    collection={ecosystems}
                    path="/taxonomy"
                    heading="Environment Type"
                    headingPath="/taxonomy/environment-type"
                />
            </List>

            <!-- Schema Categories Section -->
            <List path="/schema" heading="Schemas">
                {schemaCategories.map((category: any) => (
                    <NestedList 
                        category={category.category}
                        subCategories={category.subCategories}
                        entries={category.entries} 
                        path="/schema"
                    />
                ))}
            </List>
        </ul>
    </nav>
</div>
