---
import CollectionList from './Sidebar.collection_list.astro';
import Link from "./Sidebar.link.astro";
import List from './Sidebar.list.astro';
import {getCollection} from 'astro:content';
const impacts = await getCollection('impact');
const ecosystems = await getCollection('environment-type');
const activities = await getCollection('activity');
const schemas = [
    { slug: 'CreditClassInfo', title: 'Credit Class'},
    { slug: 'ProjectInfo', title: 'Project'},
    { slug: 'ProjectPost', title: 'ProjectPost'},
    {
        title: 'BT01',
        schemas: [
            { slug: 'BT01CreditClassInfo', title: 'BT01 Credit Class'},
            { slug: 'BT01ProjectInfo', title: 'BT01 Project'},
        ]
    }
]
---
<div id="menu"
     class="w-60 border-grey-200 p-4 overflow-y-auto
     hidden absolute lg:static lg:w-64 lg:flex lg:border-r-2
">
    <nav>
        <ul class="flex flex-col gap-4">
            <List
                    path="/taxonomy"
                    heading="Terminology"
            >
                <CollectionList collection={impacts} path="/taxonomy" heading="Impacts" headingPath="/taxonomy/impact"/>
                <CollectionList collection={activities} path="/taxonomy" heading="Activities" headingPath="/taxonomy/activity"/>
                <CollectionList collection={ecosystems} path="/taxonomy" heading="Environment Type" headingPath="/taxonomy/environment-type"/>
            </List>
            <List
                    path="/schema/"
                    heading="Schemas"
            >
                {schemas.map((schema:any) => (
                    schema.schemas ? (
                        <List
                            path={`/schema/`}
                            heading={schema.title}
                        >
                        {schema.schemas.map((subSchema:any) => (
                            <li>
                                <Link href={`/schema/${subSchema.slug}`} className="px-2 py-1 data-[current]:bg-brand-300 block rounded-md">
                                    {subSchema.title}
                                </Link>
                            </li>
                        ))}
                        </List>
                    ) : (
                        <li>
                            <Link href={`/schema/${schema.slug}`}
                                  className="px-2 py-1 data-[current]:bg-brand-300 block rounded-md">
                                {schema.title}
                            </Link>
                        </li>
                    )
                ))}
            </List>
        </ul>
    </nav>
</div>