---
import List from './Sidebar.list.astro';
import {getCollection} from 'astro:content';
const impacts = await getCollection('impact');
const ecosystems = await getCollection('environment-type');
const activities = await getCollection('activity');
const schemas = [
    { slug: 'Project.md', data: {title: 'Project'} },
    { slug: 'ProjectPost.md', data: {title: 'Project Post'} },
]
---
<div id="menu"
     class="w-60 border-grey-200 p-4 overflow-y-auto
     hidden absolute lg:static lg:w-64 lg:flex lg:border-r-2
">
    <nav>
        <ul class="flex flex-col gap-4">
            <List collection={impacts} path="/impact" heading="Impacts"/>
            <List collection={activities} path="/activity" heading="Activities"/>
            <List collection={ecosystems} path="/environment-type" heading="Environment Type"/>
            <List collection={schemas} path="/schema" heading="Schemas"/>
        </ul>
    </nav>
</div>