---
import Link from './Sidebar.link.astro'
const {collection, path, heading} = Astro.props
---
<li>
    <details open>
        <summary>
            <Link href={path}
                  className="p-1 text-lg font-bold data-[current]:underline underline-offset-8 decoration-brand-300">{heading}
            </Link>
        </summary>
        <ul class="flex flex-col ml-4">
            {collection.map((entry:any) => (
                    <li>
                        <Link href={`${path}/${entry.slug}`}
                              className="p-2 data-[current]:bg-brand-300 block rounded-md">
                            {entry.data.title}
                        </Link>
                    </li>
            ))}
        </ul>
    </details>
</li>
