---
import Link from './Sidebar.link.astro'
const {path, heading} = Astro.props
const {pathname} = Astro.url
const open = pathname.includes(path);
---
<li>
    <details {...(open ? {open} : {})}>
        <summary data-current={open} class="data-[current]:bg-brand-300 rounded-md px-2 py-1">
            <Link href={path}
                  className="p-1 text-lg font-bold">{heading}
            </Link>
        </summary>
        <ul class="flex flex-col ml-4">
            <slot />
        </ul>
    </details>
</li>
<style>
    summary > * [data-current] {
        background-color: var(--brand-300);
    }
</style>